<% content_for :title, "Editing traveller" %>

<p style="color: green"><%= notice %></p>

<h1>Editing traveller</h1>

<%= render "form", traveller: @traveller %>

<br>

<div>
  <%= link_to "Back to travellers", travellers_path %>
</div>
