<tr>
  <td>
    <%= link_to subscription.name, edit_subscription_path(subscription) %>
  </td>
  <td>
    <%= subscription.event_type.humanize %>
  </td>
  <td>
    <%= subscription.url %>
  </td>
</tr>
