<p style="color: green"><%= notice %></p>

<% content_for :title, "Subscriptions" %>

<h1>Subscriptions</h1>

<div id="subscriptions">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Distributor</th>
        <th>Event</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @subscriptions.each do |subscription| %>
      <%= render subscription %>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New subscription", new_subscription_path %>
<%= link_to "Back to root", root_path %>
